/* adds box sizing, and padding and margin of zero to all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* changes background color for the body of the page */
body {
    background-color: #d9dcd6;
}

/* adds padding, font, background color and font color to the header class */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* changes display and font size for all instance of h1 in the header class */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes the color of "seo" within the instance of h1 in the header class */
.header h1 .seo {
    color: #d9dcd6;
}

/* adds padding, margins, font, font size, and floats the image to the right in the header */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes list style type, changes display to inline-block, and adds left margin to unsorted list list items in header */
.header div ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* changes color and removes text decoration for all links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* changes all paragraph font to 16 pixels */
p {
    font-size: 16px;
}

/* adds a bottom margin and changes font size to 36 pixels for all h2 tags */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* adds a bottom margin and aligns text to center for all h3 tags */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* applies formatting to, and adds background image to page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* brings the img to the left, adds a margin and caps the height of the img at 200 pixels */
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* brings img to the right, adds a margin and caps the height of the img at 200 pixels */
.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* sets width to 75%, display to inline-block and adds a left margin to elements using the content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* applies formatting, font and background color to elements using the benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* adds bottom margin and text color to the following three classes */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* formats all images in the "benefits" class */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* adds formatting for the following three classes */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* adds padding, pushes the element below nearby floating elements, adds multiple fonts, and aligns text to center for the footer class */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* changes the font size in every instance of h2 in the footer class */
.footer h2 {
    font-size: 20px;
}